@{
    ViewBag.Title = "Ошибка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ошибка</h2>

<div class="alert alert-danger">
    <strong>Прервано!</strong> Данный параметр используется в запросах и не может быть удален.
</div>
