@{
    ViewBag.Title = "Ошибка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ОШибка</h2>

<div class="alert alert-danger">
    <strong>Прервано!</strong> Параметр имеет связи с сущствующими запросами. Удаление невозможно
</div>
